header{
    margin: 0;
    position: unset;
}

.item {
    width: 10%;
}

#item-shop-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

#user-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
}

.item-images {
    height: 50px;
  
}

div > h2 {
    margin: 1rem;
}