header{
    margin: 0;
    position: unset;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-image: url(../assets/skyline.jpg);
    background-size: cover;
    color: red;

}

.item {
    width: 10%;
}

#item-shop-section {
    display: flex;
    justify-content: space-evenly;
}

#user-section {
    display: flex;
    justify-content: space-evenly;
}

.item-images {
    height: 50px;
}