header{
    margin: 0;
    position: unset;
}

.item {
    width: 10%;
}

#item-shop-section {
    display: flex;
    justify-content: space-evenly;
}

#user-section {
    display: flex;
    justify-content: space-evenly;
}

.item-images {
    height: 50px;
}