/* font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Zen Dots', cursive; */

body {
    height: 100%;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    color: white;
    margin-top: 1rem;
}

audio {
    outline: none;
    margin-left: 2rem;
}



.game-title {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    width: 20%;
    color: yellow;
    text-align: center;
}

#main-canvas {
    width: 1000px;
    height: 700px;
    border-radius: 5%;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    border: 2px solid blue;
    height: 100%;
    
}