/* font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Zen Dots', cursive; */

body {
    height: 100%;
    font-family: 'Zen Dots', cursive;
    background-image: url(../assets/results-background.jpg);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

li {
    list-style: none;
    color: white;
    margin-top: 1rem;
}

.results-section {
    width: 50%;
    border: 2px solid red;
}

#results-p {
    width: 50%;
    font-size: 1.5rem;
    line-height: 1.3;
    background-color: navy;
    padding: 1rem;
}

#retry-button {
    font-size: 1.4rem;
    font-family: 'Press Start 2P', cursive;
    padding: 0.5rem;
    color: red;
    border-radius: 10px;
    transition: all ease-in-out 0.2s;
}

#retry-button:hover {
    background-color: red;
    color: white;
}

.game-title {
    color: white;
    font-family: 'Press Start 2P', cursive;
    font-size: 1.2rem;
    width: 20%;
    color: yellow;
    text-align: center;
}

#main-canvas {
    width: 1600px;
    height: 900px;
    border-radius: 5%;
    background: transparent;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container {
    border: 2px solid blue;
    height: 100%;
}

header {
    color: white;
    display: flex;
    justify-content: space-evenly;
}

#results-section {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    color: white;
}

