/* font-family: 'Orbitron', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Zen Dots', cursive; */

/* Header CSS */

header {
    color: white;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(18, 39, 58);
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 0.6rem;
}

h2 {
    margin-top: 4rem;
}

li {
    list-style: none;
    color: white;
    margin-top: 1rem;
}